h6 {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  padding: 5px;
  background-color: rgb(62, 129, 230);
  border-radius: 15px;
  transition-duration: 0.4s;
  max-width: 100%;
}

.button:hover {  
  color: white;
}

#quote {
  font-size: 1rem;
  padding-bottom: 6px;
  border-bottom: 3px solid grey;
}


.button-box {
  display: flex;
  flex-direction: column;
}

/* these queries enhance responsiveness by resizing the quote section and spreading out the buttons */

@media (min-width: 550px) {

  #quote {
    font-size: 2rem;
    margin-bottom: 20px;
  }

	.button-box {
		flex-direction: row;
		justify-content: center;
	}

}
